body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #202020;
  color: #b82d2d;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.hero {
  background-image: url('img/marvel_about.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.5rem;
}

.about {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.about-text {
  flex: 1;
  min-width: 200px;
}

.about img {
  flex: 1;
  max-width: 300px;
  border-radius: 8px;
  border: 2px solid #b82d2d;
}
.services {
  background-color: #f0f0f0;
  padding: 40px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #b82d2d;
  /* Оставим толщину рамки прежней */
}

.card h3 {
  color: #ff0000;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #b82d2d;
}

/* Стили футера */
footer {
  background-color: #202020;
  color: #fff;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .about,
  .cards {
    flex-direction: column;
    align-items: center;
  }
}